body
	font-size 16px
	margin 0 auto
	
h1, h2
	text-align center
	
#botonera 
	ul
		background rgba(15, 15, 15, 0.8)
		margin 3em auto
		text-align center
		li
			display inline-block
			padding 0.5em 1em
			vertical-align top
			a
				color white
				padding 0.5em
				transition all 1s ease
			a:hover
				background rgba(0, 0, 0, 0.8)
				text-decoration none
				
#cartelera
	span
		font-size 1.5em
		text-align center
		text-shadow 2px 2px  #fff
	img
		width 200px
		height 300px
		transition all 1s ease
	img:hover
		transform scale(1.5)
		-webkit-transform scale(1.5)
		-moz-transform scale(1.5)
		-o-transform scale(1.5)
		-ms-transform scale(1.5)
	.botonera_pelicula
		ul
			li
				display inline-block
				vertical-align top
				a
					transition all 0.5s ease
					text-decoration none
	.lista_peliculas
		display inline-block
		padding 1em 0.5em
		text-align center
		vertical-align top
		width 30%
	.row
		margin-bottom 1em
	.sinopsis_pelicula
		font-size 1em
		font-style italic
		text-align justify
		
#compra
	img
		width 200px
		height 300px
		transition all 1s ease
	
#nosotros, #cartelera, #nuestras_salas, #compra, #promociones, #servicios, #contacto, #inicio_sesion
	max-width 1024px
	margin 0 auto
	margin-top 4em
	#informacionServicios
		.row
			margin 0 auto
			.col-md-6
				margin-bottom 0.5em
				margin-right -4.5em
	
.active
	background rgba(0, 0, 0, 0.8)
	text-decoration none
	
.carousel-inner
	width 100%
	max-height 340px
	
.navbar_mod
	background rgba(0, 89, 138, 1)
